<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>19691631461-nrk2lvojchgfg8u1vtpoj4a37ae4qru1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19691631461-nrk2lvojchgfg8u1vtpoj4a37ae4qru1</string>
	<key>API_KEY</key>
	<string>AIzaSyAB2dbA1GvVh8B4beYTGvWGn4XRxNZEYNA</string>
	<key>GCM_SENDER_ID</key>
	<string>19691631461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehtab.Checklist.oneCourse1</string>
	<key>PROJECT_ID</key>
	<string>onecourse1-c8a12</string>
	<key>STORAGE_BUCKET</key>
	<string>onecourse1-c8a12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19691631461:ios:6874f20b7f9d8691</string>
	<key>DATABASE_URL</key>
	<string>https://onecourse1-c8a12.firebaseio.com</string>
</dict>
</plist>